# Cache und temporäre Dateien
__pycache__/
*.py[cod]

# Virtuelle Umgebungen
venv/
env/

# Paketverwaltung
*.egg-info/
*.lock
pip-wheel-metadata/

# Betriebssystem
.DS_Store
Thumbs.db

# IDEs & Editoren
.vscode/
.idea/

# Sonstiges
*.log
